<h3>
 {{movieDetails.title}}
</h3>
<div>
  <div><img src="{{movieDetails.poster}}"></div>
  <div>Year {{movieDetails.year}}</div>
  <div>Director {{movieDetails.director}}</div>
  <div>Synopsis {{movieDetails.synopsis}}</div>
  <div>
    <p>Genre</p>
    <ul>
      <li *ngFor="let genre of movieDetails.genres">
        {{genre}}
      </li>
    </ul>
  </div>
  <div>
      <p>Actors</p>
      <ul>
        <li *ngFor="let actor of movieDetails.actors">
          {{actor}}
        </li>
      </ul>
    </div>


</div>
